body {
  background-image: url("/assets/img/Lettuce-Tomato-Onion.jpg");
  background-size: 100%;
}

.textArea {
  background-color: whitesmoke;
  padding: 0.4rem;
}

.title {
  justify-content: center;
  color: gold;
}

.burgerImg {
  justify-content: center;
}

.burgerTypes {
  justify-content: space-between;
  text-align: center;
}

.row {
  margin: 10px;
  display: flex;
}

#addBrgrRow {
  justify-content: center;
}

#addBrgr {
  text-align: center;
}
